<div class="label-area">
    <label>Enter your Email:</label>
    <!-- <span *ngIf="email?.touched && email.errors?.['required']">Required</span> -->
    <!-- <span *ngIf="email?.dirty && email.errors?.['invalidEmail']">Incorrect format email</span> -->
</div>
<input type="email" [(ngModel)] = "email">
<button (click)="send()" class="rstBtn">Reset account</button><br>
<span class="noDeleted" *ngIf="valid == false">No user found with this email</span>
<span class="deleted" *ngIf="deleted == false">User deleted</span>


